includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 9
    paths:
        - src
    phpVersion: 80500
    typeAliases:
        Uint8: 'int<0, 255>'
        Uint16: 'int<0, 65535>'
        NibbleHigh: 'int<0, 15>'
